.projectTitle {
    text-align: center;
    font-weight: bolder;
}

.authors {
    font-size: medium;
    text-align: center;
}

h2.info {
    font-size: medium;
    margin-top:40px;
    text-align: center;
    font-weight: bold;
}

div.cardDeck {
    margin-top:20px;
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}
div.cardDeck span {
    display: table-cell;
    text-align: center;
}